.config
*/*~
*/*/*~

ext/Makefile
ext/narray_config.h
ext/*.o
ext/narray.so
ext/mkmf.log

ext/int8.c
ext/int16.c
ext/int32.c
ext/int64.c
ext/uint8.c
ext/uint16.c
ext/uint32.c
ext/uint64.c
ext/sfloat.c
ext/dfloat.c
ext/scomplex.c
ext/dcomplex.c
ext/bit.c
ext/robject.c

pkg
